//Colors
$clr-txt-primary: #000000;
$clr-like-btn: #ff3040;
$clr-delete-btn: #ed4956;
$clr-hover-primary: rgba(0, 55, 107, 0.05);
$clr-txt-sec: #737373;
$clr-modal-overlay: rgba(0, 0, 0, 0.7);
$clr-btn1: #0095f6;
$clr-sep-line: #dadde1;

//Border-line
$sep-line: 1px solid #dadde1;

//Breakpoints
//MAIN
$main-layout-narrow-breakpoint: 490px;
$main-layout-med-breakpoint: 660px;
$main-layout-mid-wide-breakpoint: 750px;



